* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* Navbar */
nav {
  background: #020617;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #38bdf8;
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

/* Sections */
.section, .hero {
  min-height: 80vh;
  padding: 80px 60px;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, #020617, #0f172a);
}

.hero span {
  color: #38bdf8;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  background: #38bdf8;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: #020617;
  padding: 20px 30px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  background: #38bdf8;
  color: black;
  transform: translateY(-8px);
}

/* Education */
.edu-card {
  background: #020617;
  padding: 25px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 15px;
}

/* Tools */
.tools span {
  display: inline-block;
  background: #020617;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
  transition: 0.3s;
}

.tools span:hover {
  background: #38bdf8;
  color: black;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  color: #94a3b8;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid #38bdf8;
  box-shadow: 0 0 20px #38bdf8;
}


